press.one

gzip

ext .html

timeouts 1m

header / {
	Strict-Transport-Security "max-age=31536000;"
	X-XSS-Protection "1; mode=block"
	X-Content-Type-Options "nosniff"
	X-Frame-Options "DENY"
}

log ../access.log {
  rotate_size 1000
  rotate_age  7
  rotate_keep 3
}

errors ../error.log {
  rotate_size 100
  rotate_age 7
  rotate_keep 3
}

minify

redir /beta/ / 302
redir /beta / 302